# Postgres (used by Prisma)
DATABASE_URL="postgresql://admin:password@localhost:5432/truehire"

# OpenAI
OPENAI_API_KEY="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"

# JWT
JWT_SECRET="supersecretkey"

# PORTS
FRONTEND_PORT=5173
BACKEND_PORT=4000
